# Airtable Configuration for GLOVO Calculator
AIRTABLE_API_KEY=pat5BTtwvg2zwK12N.552877eae1ff005c3c329dd42efcc860ebd39c2f6c1cf48ee04cb4b8ee84139f
AIRTABLE_BASE_ID=appkwDzDKRNTf1WZV
AIRTABLE_TABLE_ID=tbl0fYDOCTS2PHwBP

# PWA Push Notifications (VAPID Keys)
# Generate new keys with: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=BJ6lQX17iRZaH26EULeyxweBy2hOMFQrxZCMOwG3_wSG97qw-KWxj7VnwVKnwphiE2Pi9duqZBkIxeaxCtgpJgY
VAPID_PRIVATE_KEY=UjT3cf2nT_v6s84INXswq6f17hlYewayWaKYBA_yMvw
NEXT_PUBLIC_VAPID_KEY=BJ6lQX17iRZaH26EULeyxweBy2hOMFQrxZCMOwG3_wSG97qw-KWxj7VnwVKnwphiE2Pi9duqZBkIxeaxCtgpJgY