# .replit
run = "npm run dev"
entrypoint = "pravda-next-app/src/app/page.tsx"

[packager]
# Enable caching to speed up installing packages.
caching = true

[env]
# Set the development server port.
PORT = "3000"

[unitTest]
# Configure a command to run tests if you have them.
command = "npm run test"

[nix]
# The Nix channel to use.
channel = "stable-23_11"

[deployment]
# The command to run before deploying.
build_command = "npm run build"
# The command to run to start the server.
run_command = "npm run start"
# The deployment target.
deployment_target = "cloudrun"
