run = "cd pravda-nextjs-export && npm run dev"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd pravda-nextjs-export && npm run build && npm run start"]

[[ports]]
localPort = 3000
externalPort = 80